<div>
    <%= Date.now() %>
    <%= wait(1000) %>
    <%= Date.now() %>
    <%= wait(1000) %>
    <%= Date.now() %>
    <%= wait(1000) %>
    <%= "<dangerous>" %>
    <%- "<dangerous>" %>
    <%= wait(1000) %>
    <%_ include ./includes/test_include %>
<%- include("./includes/test_include_dynamic") %>
<%= include("./includes/test_include_dynamic") %>
</div>